import(RNetCDF)
import(zoo)
import(PCICt)
import(SDMTools)
import(gstat)
importFrom(ncdf)
importFrom(rgdal)
importFrom(ggplot2)
importFrom(plyr)
exportPattern("^[[:alpha:]]+")

#install.packages("udunits2", 
#  configure.args='--with-udunits2=/usr/lib/x86_64-linux-gnu/libudunits2.so.0/ 
#                  --with-udunits2-include=/usr/lib/x86_64-linux-gnu/libudunits2.so.0') 